<!-- <div *ngIf="percentage | async as pct">
  {{ pct | number }}%
</div> -->
<!-- <progress [value]="pct" max="100"></progress> -->

<div *ngIf="snapshot | async as snap">
  <!-- <div>
    {{ snap.bytesTransferred / 1024 | number: "1.0-1" }} of
    {{ snap.totalBytes / 1024 | number: "1.0-1" }} KB, {{ file.name }}
  </div> -->
  <nz-table [nzData]="file" *ngIf="file">
    <thead *ngIf="length == 0">
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Action</th>
        <th *ngIf="downloadURL">Preview Button</th>
      </tr>
    </thead>
    <tbody *ngIf="file as data">
      <tr>
        <td>{{ length + 1 }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.type }}</td>
        <td>{{ snap.totalBytes / 1024 | number: "1.0-1" }} KB</td>
        <td>
          <nz-progress
            *ngIf="percentage | async as pct"
            [nzPercent]="pct"
            nzType="circle"
            [nzWidth]="80"
          ></nz-progress>
        </td>
        <td>
          <button
            class="button"
            nz-button
            nzType="primary"
            (click)="task.pause()"
            [disabled]="!isActive(snap)"
          >
            Pause
          </button>
          <button
            class="button"
            nz-button
            nzType="primary"
            nzDanger
            (click)="task.cancel()"
            [disabled]="!isActive(snap)"
          >
            Cancel
          </button>
          <button
            class="button"
            nz-button
            nzType="primary"
            nzGhost
            (click)="task.resume()"
            [disabled]="!(snap?.state === 'paused')"
          >
            Resume
          </button>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
        <td>
          <button
            nz-button
            nzType="primary"
            *ngIf="downloadURL"
            [nzType]="'primary'"
            (click)="showModal(downloadURL, data.type)"
          >
            Preview
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Preivew File"
  [nzStyle]="{ top: '20px' }"
  [ngStyle]="{ height: '600px' }"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
  nzMaskClosable="true"
  nzWidth="600"
>
  <ng-container *nzModalContent>
    <div class="example" *ngIf="loading">
      <nz-spin nzSimple></nz-spin>
    </div>
    <iframe
      [ngStyle]="{ display: loading ? 'none' : '' }"
      id="iframe"
      src=""
      class="iframe"
      title="W3Schools Free Online Web Tutorials"
    ></iframe>
  </ng-container>
</nz-modal>
