/* display: flex; */
.navClass {
  display: flex;
  justify-content: center;
  background-color: rgb(153, 205, 218);
}
.container {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
